---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

table {
    color: #124769 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-bottom: 15px !important;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #e8e8e8;
}

table tr:nth-child(even) {
    background-color: #f7f7f7;
}

table th,
table td {
    padding: 2px 5px;
}

table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9;
}

table td {
    border: 1px solid #e8e8e8;
}

h4 {
    margin-bottom: 7px;
}